dfy_model/.depend
.vscode
otbn_impl/cg.dot
otbn_impl/cg.png
gen/glue/
gen/misc/
gen/spec/
gen/impl
gen/*.o
gen/*.elf
docs/*.pdf
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz
.ninja_log
.ninja_deps
build.ninja
output.s
*.dll
*.runtimeconfig.json
tools/
std_lib/
*.pyc
