dfy_model/.depend
.vscode
otbn_impl/cg.dot
otbn_impl/cg.png
gen/
docs/*.pdf
docs/*.aux
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.synctex.gz
.ninja_log
.ninja_deps
build.ninja
output.s
*.dll
*.runtimeconfig.json
otbn_model/tools/dafny/
otbn_model/tools/vale/
